Django~=5.1.4
djangorestframework~=3.15.2
djangorestframework-simplejwt~=5.4.0
geopandas~=1.0.1
matplotlib~=3.10.0
fiona~=1.10.1
shapely~=2.0.5
toml~=0.10.2
DateTimeRange~=2.3.1
python-dotenv~=1.0.1
django-currentuser~=0.8.0
psycopg~=3.2.3
django_dbconn_retry~=0.1.7
djoser~=2.3.1
pyjwt~=2.10.1
PyYAML~=6.0.2
django_dbconn_retry~=0.1.7
drf_spectacular~=0.28.0
django-cors-headers~=4.6.0
requests~=2.32.3
pandas~=2.2.3
pyogrio~=0.10.0
numpy~=2.2.1


# There is also a dependancy on these 2 entries
# git+https://gitlab.sh.nextgenwaterprediction.com/NGWPC/nwm-ngen/ngen-cal.git@development#egg=createInput&subdirectory=python/createInput
# git+https://gitlab.sh.nextgenwaterprediction.com/NGWPC/nwm-ngen/ngen-forcing.git@$development#egg=swe_processing&subdirectory=swe_mapping
# These dependancies are installed separately in runCerf.sh in order to ensure that we get the latest code
