Django~=5.2.4
djangorestframework~=3.16
djangorestframework-simplejwt~=5.5.1
geopandas~=1.0.1
matplotlib~=3.10.3
fiona~=1.10.1
shapely~=2.1.0
toml~=0.10.2
DateTimeRange~=2.3.1
python-dotenv~=1.1.0
django-currentuser~=0.9.0
psycopg~=3.2.7
django_dbconn_retry~=0.1.9
djoser~=2.3.3
pyjwt~=2.9.0
PyYAML~=6.0.2
drf_spectacular~=0.28.0
django-cors-headers~=4.7.0
requests~=2.32.4
# Leave it at this version for create_input
pandas~=2.2.2
pyarrow~=21.0.0
pyogrio~=0.10.0
# Need this version for create_input
numpy<2.3
tabulate~=0.9.0
boto3~=1.39.12
botocore~=1.39.12


# There is also a dependancy on these 2 entries
# git+https://gitlab.sh.nextgenwaterprediction.com/NGWPC/nwm-ngen/ngen-cal.git@development#egg=createInput&subdirectory=python/createInput
# git+https://gitlab.sh.nextgenwaterprediction.com/NGWPC/nwm-ngen/ngen-forcing.git@development#egg=swe_processing&subdirectory=swe_processing
# These dependancies are installed separately in runCerf.sh in order to ensure that we get the latest code


