# This is a template for the .env file which can be used to load settings in settings.py
# Copy it to .env and add your custom/local settings for your environment
# This file should not be checked into git
# OR just set the appropriate values in the environment


CERF_SERVER_SECRET_KEY='django-insecure-gmuchz(a93zw!8+75r+2%nx)mxvz*m(z9%%+i(#t6$1cg!8cg8'
CERF_SERVER_DEBUG=True
CERF_SERVER_ALLOWED_HOSTS=localhost, 127.0.0.1

CERF_SERVER_DATABASE_ENGINE=django.db.backends.postgresql
CERF_SERVER_DATABASE_NAME=postgres
CERF_SERVER_DATABASE_USER=postgres
CERF_SERVER_DATABASE_PASSWORD=postgres
CERF_SERVER_DATABASE_HOST=localhost
CERF_SERVER_DATABASE_PORT=5432

CERF_SERVER_SQL_LOGGING=False

CERF_SERVER_VERSION = 0.0
CERF_SERVER_CONTACT_EMAIL = 'support@ngencerf.com'

CERF_SERVER_HYDROFABRIC_URL = 'http://localhost:8888'
CERF_SERVER_NGEN_CAL_MAIN_DIR = '~/ngen_cal_output'